<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>益佳家商城APP推广</title>
		<link rel="stylesheet" type="text/css" href="/static/index/css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="/static/index/css/base.css"/>
		<link rel="stylesheet" type="text/css" href="/static/index/css/public.css"/>
		<script src="html5plus://ready"></script>
	</head>
	<style type="text/css">
		.tool h5{
			padding: 15px 0;
			text-align: left;
		}
	</style>

	<body>
		<header class="mui-bar mui-bar-nav">
			
			<h1 class="mui-title">详情</h1>
			
		</header>
		<div class="mui-content tool" >
			<h5 class="title">{$view.title}</h5>
			<div class="biancheng">
				<i class="iconfont icon-Programming"></i> 
				<span class="cat_name">{$view.name}</span>
				<i class="iconfont icon-liulan"></i> 
				<span id="click_count"> {$view.click_count}</span>
			</div>
			<div id="content">
				{$view.content}
			</div>
			
		</div>
		
	</body>
	<script src="/static/index/js/mui.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/index/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/index/js/common.js" type="text/javascript" charset="utf-8"></script>

</html>