<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<!--引入样式-->
		<link rel="stylesheet" type="text/css" href="__STATIC__/fx/css/base/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="__STATIC__/fx/css/base/base.css" />
		<link rel="stylesheet" type="text/css" href="__STATIC__/fx/iconfont/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="__STATIC__/fx/css/pages/index/goods-details.css" />
	</head>
	<style>
		/*html,body{*/
			/*height: auto;*/
		/*}*/
		.collect #coll span.active {
			color: #D31A1A;
		}
		.title p{
			font-size: 13px;
		}
		.like ul li p{
			font-size: 13px;
		}
		.like ul li p{
		    -webkit-line-clamp: 2;
		    display: -webkit-box;
		}
		.like ul li{
			border-radius: inherit;
		}
	</style>
	<!--header-->
	<body onscroll="aa()">
	<!--header-->
	<header class="mui-bar mui-bar-nav">
		<!--<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>-->
		<div class="header-tab menu_fenlei swiper-container6" id="menu_fenlei">
			<div class="swiper-wrapper">
				<a class="swiper-slide" href="#1" style="width:auto !important;letter-spacing: 1.5px;">
					<span class="new_all">商品</span>
				</a>
				<a class="swiper-slide" href="#2" style="width:auto !important;letter-spacing: 1.5px;">
					<span class="new_all">详情</span>
				</a>
				<a class="swiper-slide" href="#3" style="width:auto !important;letter-spacing: 1.5px;">
					<span class="new_all">素材</span>
				</a>
			</div>


		</div>
		<!--<icon class="mui-icon iconfont icon-31gouwuche mui-pull-right"></icon>-->
		<!--<icon class="mui-icon iconfont icon-fenxiang mui-pull-right"></icon>-->
	</header>

	<!--header end-->
	<!--content-->
	<div class="mui-content">
		<div class="list_content" id="1">
		<div class="tab-box">
			<!--商品轮播-->
			<div class="mui-slider">
				<div class="mui-slider-group mui-slider-loop">

				</div>
				<div class="shuzi">
					<span><em>1</em>/<i>4</i></span>
				</div>
			</div>
			<div class="title">
				<!--<p class="text_overflow"> [崔雪莉同款] LUCKY CHOUETTE [崔雪莉同款] LUCKY CHOUETTE 韩国</p>
				<i>正品潮牌 性价比高 舒适百搭</i>
				<div class="price">
					<span><em>¥</em>450</span>
					<i class="vip">会员价¥400</i>
					<div class="number f_right">库存：少量</div>
				</div>-->
			</div>
			<ul class="mui-table-view guige">
				<li class="mui-table-view-cell guige-list">
					<a class="mui-navigate-right">
						<i>规格 </i>
						<p>选择颜色分类</p>
					</a>
				</li>
				<!--<li class="mui-table-view-cell lingquan">-->
					<!--<a class="mui-navigate-right">-->
						<!--<i>领券</i><img src="__STATIC__/fx/img/yhq.png" />-->
						<!--<p> </p>-->
					<!--</a>-->
				<!--</li>-->
				<!--<li class="mui-table-view-cell">-->
					<!--<a class="">-->
						<!--<i>活动</i>-->
						<!--<p> 1.购买商品满100元赠送20积分</br>-->
							<!--2.购买商品满100元免邮费</p>-->
					<!--</a>-->
				<!--</li>-->
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
						<i class="comment_total" style="color: #181818;">商品评论()   </i>
						<!--<p class="mui-pull-right all-comment" style="padding-right: 20px;color: #999999;"> 查看全部</p>-->
					</a>
				</li>
			</ul>
			<!--评论列表-->
			<div class="comment">
				<ul class="mui-table-view">

				</ul>
				<!--<div class="more">
					<icon class="iconfont icon-shang"></icon>
					<span>查看全部</span>
				</div>-->
				<!--相关推荐-->
				<!--<div class="retaled">
					<span>相关推荐</span>
				</div>-->
				<!--<div class="retaled-list">-->
					<!--<div class="like">-->
						<!--<ul>-->

						<!--</ul>-->
					<!--</div>-->
				<!--</div>-->
			</div>
			<!--加入购物车-->
			<!--规格-->
			<div class="max-box">
				<div class="min-box"></div>
				<div class="content">
						<div class="top" id="tops">
							<ul>
								<li>
									<img src="__STATIC__/fx/imgs/goods5.jpg" id="imgs" />
								</li>
								<li>
									<p id="top" class="top"><em>¥</em>19.80</p>
									<p id="ku1">库存299件</p>
									<p id="ty"> </p>
								</li>
								<li>
									<icon class="iconfont icon-guanbi2" id="del"></icon>
								</li>
							</ul>
						</div>
						<div class="center">
							<ul>
								<li class="types">
									<span>规格</span>
								</li>
								<li class='center_top'>
									<p sku_id="1">200ml</p>
									<p sku_id="2">400ml</p>
									<p sku_id="3">800ml</p>
								</li>
							</ul>
						</div>
						<div class="bottom">
						<span>数量</span>
						<li class="mui-numbox" data-numbox-min='1' data-numbox-max='999'>
							<button class="mui-btn mui-btn-numbox-minus" type="button">－</button>
							<input class="mui-input-numbox" type="number" value="1" />
							<button class="mui-btn mui-btn-numbox-plus" type="button">＋</button>
						</li>
					</div>
					
					<div class="foot">
						<!--<span id="gouwuche">加入购物车</span><span id="buy">立即结算</span>-->
					</div>
				</div>
			</div>
		</div>
		</div>
		<div class="list_content" id="2">
			<div class="tab-box">
			<!--详情-->
			<div class="xiangqing" style="">
				<div class="xiangqing_top">
					<span class="active">商品介绍</span>
					<span>规格参数</span>
					<span>购买需知</span>
				</div>
				<div class="shop_jieshao" style="display: block;">
					<ul>
						<li>
							<img src="__STATIC__/fx/imgs/017.png" />
							<li>
								<img src="__STATIC__/fx/imgs/018.png" />
					</ul>
				</div>
				<div class="guige xq_guige" style="display: none;">
					<table>
						<tr>
							<td width="40%">商品编号</td>
							<td>102024541202452</td>
						</tr>
						<tr>
							<td colspan="2">主题</td>
						</tr>
						<tr>
							<td>类别</td>
							<td>开心果</td>
						</tr>
						<tr>
							<td>口味</td>
							<td>原味</td>
						</tr>
						<tr>
							<td>包装</td>
							<td>袋装</td>
						</tr>
						<tr>
							<td>保质期</td>
							<td>12个月</td>
						</tr>
						<tr>
							<td>生产许可证号</td>
							<td>1</td>
						</tr>
						<tr>
							<td>净含量(kg)</td>
							<td>0.75</td>
						</tr>
					</table>
				</div>
				<div class="need" style="display: none;">

				</div>
			</div>
			</div>
		</div>
		<div class="list_content" id="3">
			<div class="tab-box">
			<!--list-->
			<div class="find">
				<div class="shangchuan">
					<!--<img src="__STATIC__/fx/img/sucais.png" />-->
				</div>
				<div id="source">

				</div>

			</div>
			<!--list end-->
			</div>
		</div>
			<!--优惠券-->
		<div class="yhq-box">
			<div class="yhq-shadow"></div>
			<div class="yhq">
				<div class="yhq-top">
					<span>店铺优惠券</span>
					<icon class="iconfont icon-guanbi2" id="yhq-del"></icon>
				</div>
				<div class="yhq-list">
					<ul>

					</ul>
				</div>
			</div>
			<!--领券成功-->
			<div class="get-success">
				<img src="__STATIC__/fx/img/lingquan.png" />
			</div>
		</div>
		<!--分享-->
		<!--<div class="share1 share" >-->
			<!--<div class="share-shadow">-->
			<!--</div>-->
			<!--<img src="__STATIC__/fx/imgs/share.png" />-->
			<!--<button>保存到相册</button>-->
		<!--</div>-->
		
		<div class="zhedang" style="display: none;">
			<div class="sex_choice">   
				<div class="fenxiang">
					<h4>分享到</h4>
					<ul>
						<li class="weixin">
							<img src="__STATIC__/fx/img/weixin.png" />
							<p>微信好友</p>
						</li>
						<li class="qq_fenxiang">
							<img src="__STATIC__/fx/img/qq.png" />
							<p>QQ好友</p>
						</li>
						<li class="weibo_fenxiang">
							<img src="__STATIC__/fx/img/weibo.png" />
							<p>微博</p>
						</li>
						<li class="shop_er">
							<img src="__STATIC__/fx/img/shoper.png" />
							<p>商品二维码</p>
						</li>
						<li class="shop_lian">           
							<img src="__STATIC__/fx/img/copy.png" />
							<p>商品链接</p>
						</li>
					</ul>	
				</div>	
				<div class="quxiao">取消</div>
			</div>			
		</div>
		
		<div class="zhedang_fenxiang" style="display: none;">
			<div class="sex_choice">   
				<div class="fenxiang">
					<h4>分享到</h4>
					<ul>
						<li class="weixin_sucai">
							<img src="__STATIC__/fx/img/weixin.png" />
							<p>微信好友</p>
						</li>
						<li class="qq_sucai">
							<img src="__STATIC__/fx/img/qq.png" />
							<p>QQ好友</p>
						</li>
						<li class="weibo_sucai">
							<img src="__STATIC__/fx/img/weibo.png" />
							<p>微博</p>
						</li>
					</ul>	
				</div>	
				<div class="quxiao_fengxiang">取消</div>
			</div>			
		</div>

	</div>
		<div class="car display-flex" >
			<!--<div class="collects">-->
			<!--<icon class="iconfont icon-shoucang2"></icon>-->
			<!--<i>收藏</i>-->
			<!--</div>-->
			<!--<div class="shangjia">
                <icon class="iconfont icon-shangjia1"></icon>
                <i>上下架</i>
            </div>-->
			<!--<div class="add-car flex">-->
			<!--加入购物车-->
			<!--</div>-->
			<div class="buy flex" style="display: none;height: 50px;position: relative;z-index: 9999;">
				立即购买
			</div>
		</div>
	<!--add car-->

	<!--add car end-->
	<!--content end-->

		<!--引入js文件-->
		<script src="__STATIC__/fx/js/base/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="__STATIC__/fx/js/base/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="__STATIC__/fx/js/base/castapp.js" type="text/javascript" charset="utf-8"></script>
		<script src="__STATIC__/fx/js/base/hetao.js" type="text/javascript" charset="utf-8"></script>
		<!--<script src="__STATIC__/fx/js/index/public.js" type="text/javascript" charset="utf-8"></script>-->
		<script src="__STATIC__/fx/js/index/public.js"></script>
		<script src="__STATIC__/fx/js/find/mui.previewimage.js" type="text/javascript" charset="utf-8"></script>
		<script src="__STATIC__/fx/js/find/mui.zoom.js" type="text/javascript" charset="utf-8"></script>
		<!--<script src="../js/index/shop.js"></script>-->
		<script type="text/javascript">
			mui.init();
			ca.init();
			var user_id = "{$uid}";
			var token = "{$token}";
            var type = "{$type}";
            var login_type;
            login_type = "{$is_seller}";
            var goods_id;
            goods_id= "{$goodsid}";
            var act_id = "{$act_id}";
            var bargain_id = "{$bargain_id}";
            if (type == 'weixin') {
                $('.buy').css('display', 'block');
            } else if(type == '') {
                // 判断是否是 微信 游览器
                var ua = navigator.userAgent.toLowerCase();
                if (ua.match(/MicroMessenger/i) == "micromessenger") {
                    $('.buy').css('display', 'block');
                    // window.location.href = hetao.url3+'/Api/Fx/goodsDetail?goodsid='+goods_id+'&type=weixin'+'&bargain_id='+bargain_id+'&act_id='+act_id;
                }
            }
			// login_type = localStorage.getItem('login_type');

			ca.receiveNotice('login', function() {
				user_id = localStorage.getItem('user_id');
				token = localStorage.getItem('token');
			})
			ca.receiveNotice('fabu', function() {
				user_id = localStorage.getItem('user_id');
				token = localStorage.getItem('token');
				console.log('素材发布通知到了');
				shop_sucai();
			})
			
			
			
			
				/*商品详情*/

	//秒杀活动id
	var active_id = "{$active_id}";
	// var type_xq=window.location.search.split('=')[1].split('&')[2];
	console.log(goods_id);
	console.log(active_id);
	var is_favor; //是否收藏
	var is_shangjia;//是否上架
	//console.log(goods_id);
	
	ca.receiveNotice('qxshoucang', function() {
		lunbo_xx();
		shop_xiangq();
		shop_sucai();		
	})
	//商品
	function lunbo_xx() {
		localStorage.removeItem('coupon_id');
		localStorage.removeItem('coupon_money');
		var obj = {};
		if(!user_id) {
			user_id = '';
			token = '';
		} else {
			user_id = user_id;
			token = token;
		}
		obj.uid = user_id;
		obj.token = token;
		obj.goodsid = goods_id;
		// obj.type = type_xq;
		if(active_id && typeof(active_id) != "undefined") {
			obj.active_id = active_id;
		}
		//console.log(JSON.stringify(obj));
		console.log(obj, 1111111111);
		ca.get({
			url: hetao.url + 'goods/goodsDetail',
			data: obj,
			succFn: function(data) {
				var res = JSON.parse(data);
				console.log(res);
				var str = '';
				var pic = '';
				if(res.status == 1) {
					var arr=['personal/my_footprint.html'];
					ca.sendNotice(arr,'zuji',{});
					
					
					is_favor = res.data.is_favor;
					is_shangjia = res.data.is_shangjia;
					console.log(is_shangjia);
					if(is_favor == 0) {
						$('.collects icon').css('color', '#333');
						$('.collects i').css('color', '#333');
					} else {
						$('.collects icon').css('color', '#d31a1a');
						$('.collects i').css('color', '#d31a1a');
					}
					if(is_shangjia == 0) {
						console.log('上架')
						$('.shangjia icon').attr('class','iconfont icon-shangjia1');		
					} else {
						console.log('下架')
						$('.shangjia icon').attr('class','iconfont icon-xiajia1');
					}
					
					
					var top_img = res.data.images
					//console.log(top_img[0]);	
					var html = '';
					var point;
					//商品图片轮播渲染
					html += '<div class="mui-slider-item mui-slider-item-duplicate">' +
						'<a>' +
						'<img src="' + hetao.url2 + '' + top_img[0] + '"/>' +
						'</a>' +
						'</div>'
					for(var i in top_img) {
						html += '<div class="mui-slider-item">' +
							'<a>' +
							'<img src="' + hetao.url2 + '' + top_img[i] + '" category_index="category_' + i + '""/>' +
							'</a>' +
							'</div>'
					}
					html += '<div class="mui-slider-item mui-slider-item-duplicate">' +
						'<a>' +
						'<img src="' + hetao.url2 + '' + top_img[top_img.length - 1] + '"/>' +
						'</a>' +
						'</div>'
					$('.mui-slider-loop').html(html)
					$('.shuzi i').html(top_img.length);
					var gallery = mui('.mui-slider');
					
					gallery.slider({
						interval: 1500 //自动轮播周期，若为0则不自动播放，默认为0；			
					})
					
					
					//------------------秒杀判断------------------ 
					//console.log(res.data.active_info)
					// if(res.data.active_info != null){
					// 	//倒计时
					// 	var start_time = res.data.active_info.start_time;
					// 	var end_time = res.data.active_info.end_time;
					//  	var data={
					// 		//nowdate:系统时间,
					// 		startdate:start_time,//开始时间，格式为：h:m或日期格式
					// 		enddate:end_time,//结束时间，格式为：h:m或日期格式
					// 		setday:0//提前天数，例如：0为当天，1为明天
					// 		//init:是否跳过开始时间，默认是false，当为true倒计时跳过开始时间
					// 	}
					// 	$.leftTime(data,function(d){
					// 		if(d.status){//d.step 0表示普通倒计时，1表示未过开始时间，2表示已过开始时间未过结束时间，3表示已过结束时间；
					// 			var $dateShow1=$(".seckill-time");
					// 			$dateShow1.find(".h").html(d.h);
					// 			$dateShow1.find(".m").html(d.m);
					// 			$dateShow1.find(".s").html(d.s);
					// 		}
					// 		//秒杀时间已过 再次调取数据
					// 		if(d.step == 3){
					// 			alert(d.step)
					// 			mui.toast('当前秒杀已结束,即将开始新一轮秒杀!');
					// 			setTimeout(function(){
					// 				mui.back();
					// 			},1000)
					// 		}
					// 	})
					// }else{
					//
					// }
                    var dz_vip;
                    var vip_dz_price;
                    var show_price_zhanshi;
                    var show_zhanshi;
                    if(login_type==1){
                        dz_vip='赚';
                        vip_dz_price=res.data.dianzhu_price;
                        if(vip_dz_price==0){
                            show_zhanshi='none';
                        }else{
                            show_zhanshi='inline-block';
                        }

                    }else{
                        show_zhanshi='none';
                        //dz_vip='会员价';
                        //vip_dz_price=res.data.vip_price;
                    }


                    if(res.data.show_price==0.00){
                        show_price_zhanshi='none'
                    }else{
                        show_price_zhanshi='inline-block'
                    }

                    //商品信息
                    var menu_xs;
                    var menu_xs1;
                    if(res.data.abstract_content){
                        menu_xs='block';
                        menu_xs1='none';
                    }else{
                        menu_xs='none !important';
                        if(!res.data.active_name){
                            menu_xs1='none';
                        }else{
                            menu_xs1='inline-block';
                        }
                    }

                    str += '<p class="text_overflow" style="display:'+menu_xs+'"><em>'+res.data.active_name+'</em>' + res.data.abstract_content + '</p >' +
                        '<p class="text_overflow shop_ti"><em style="display:'+menu_xs1+'">'+res.data.active_name+'</em>' + res.data.goods_name + '</p >' +
                        '<i>' + res.data.introduction + '</i>' +
                        '<div class="price">' +
                        '<span id="shop_jia"><em>¥</em>' + res.data.price + '</span>' +
                        '<i class="vip" style="display:'+show_zhanshi+'">'+dz_vip+'¥' + vip_dz_price + '</i>' +
                        '<del class="vip" style="display:'+show_price_zhanshi+'">¥' + res.data.show_price + '</del>' +
                        '<div class="number f_right">库存：' + res.data.stock + '</div>' +
                        '</div>'
                    $('.title').html(str);
	
					//规格 商品照片 单价 库存
					$('#imgs').attr('src', hetao.url2 + res.data.picture);
					$('#top').html('<em>¥</em>' + res.data.price);
					$('#ku1').html('库存' + res.data.stock + '件');
					console.log('优惠券')
					console.log(res.data.coupon);
					//领券
					if(res.data.coupon.length==0) {
						$('.lingquan p').html('')
					} else {
						$('.lingquan p').html('满' + res.data.coupon.coupon_use_limit + '减' + res.data.coupon.coupon_price)
					}
	
					//商品评论
					var comment_list = res.data.comment_list;
					console.log(comment_list);
					$('.comment_total').html('商品评论' + (res.data.comment_total));
					var pinglun = '';
					var user_avat;
					for(var i in comment_list) {
						if(comment_list[i].user_avat.indexOf('http')!=-1){
							user_avat=comment_list[i].user_avat;
						}else if(comment_list[i].user_avat){
							user_avat=hetao.url2+comment_list[i].user_avat;
						}else{
							user_avat='__STATIC__/fx/img/hetao.png';
						}
						
						pinglun+='<li class="mui-table-view-cell">'
							+'<a class="">'
								+'<div class="photo">'
									+'<img src="'+user_avat+'" />'
									+'<span>'+comment_list[i].user_name+'</span>'
									+'<i class="f_right">'+comment_list[i].or_add_time+'</i>'
								+'</div>'
								+'<div class="text">'
									+'<p class="text_line">'+comment_list[i].or_cont+'</p>'
									pinglun+='<ul class="display-flex">'
									for(var j in comment_list[i].or_thumb){
										pinglun+='<li class="flex">'
											pinglun+='<img src="'+hetao.url2+''+comment_list[i].or_thumb[j]+'" alt="" />'
										pinglun+='</li>'
									}	
									pinglun+='</ul>'
								+'</div>'
							+'</a>'
						pinglun+='</li>'
					}
					$('.comment ul.mui-table-view').html(pinglun);
	
					//详情  商品介绍
//					
	
					//详情 规格参数
					
					
	
					//详情  购买须知
					var need_rule = res.data.need_rule;
					$('.need').html(need_rule);
	
					//相关推荐
//					var recomm = res.data.recomm;   
//					var shop_tuijain = '';
//					var dz; //判断店主、vip的显示隐藏
//					var vip;
//					var zhuan;
//					if(login_type == 1) {
//						dz = 'block';
//						vip = 'none';
//						$('.shangjia').css('display','block');
//					} else {
//						dz = 'none';
//						vip = 'block';
//						$('.shangjia').css('display','none');
//					}
//					var price;
//					var active_type_name;
//					var xianshi;
//					console.log(recomm);
//					for(var i in recomm) {
//						if(recomm[i].active_id){
//							price=recomm[i].active_price;
//							active_type_name=recomm[i].active_type_name;
//							xianshi='inline-block';
//						}else{
//							price=recomm[i].price;
//							xianshi='none';
//						}
//						
//						
//						shop_tuijain += '<li goods_id="'+recomm[i].goods_id +'" active_id="'+recomm[i].active_id +'" prom_id="'+recomm[i].prom_id +'">' +
//							'<img src="' + hetao.url2 + '' + recomm[i].picture + '" />' +
//							'<p class="text_line"><em style="display:' + xianshi + ';">'+active_type_name + '</em>'+ recomm[i].goods_name + '</p>'
//							//							    	 +'<em>少量</em>'
//							+
//							'<div class="vip like-list-price" style="display:' + vip + ';"><span class="t-color">¥' + price + '</span><del>¥' + recomm[i].show_price + '</del></div>' +
//							'<div class="dz like-list-price" style="display:' + dz + ';">' +
//							'<span>¥' + price + '</span>' +
//							'<i class="t-color">赚¥' + recomm[i].dianzhu_price + '</i>' +
//							'</div>'
//						shop_tuijain += '</li>'
//					}
//					$('.like ul').html(shop_tuijain);
				}else{
					ca.prompt(res.msg);
					setTimeout(function(){
						// ca.closeCurrentInterface();
					},500)	
				}
				mui.plusReady(function(){plus.nativeUI.closeWaiting();});
			}
		})
	}
	lunbo_xx();
	
	
	var guize1;
	var guize2;
	var guize3;
	//本页面商品详情的数据更新
	$('.like').on('tap', 'li', function() {
		goods_id = $(this).attr('goods_id');
		var active_id1=$(this).attr('active_id');
		var prom_id=$(this).attr('prom_id');
		console.log(active_id1);
		console.log(prom_id);
		console.log(goods_id);
		//1、团购，2、预售，3、拼团，4、砍价，5、秒杀，6、满减，7、99元三件，8、满2件打九折 ， 9自定义
		if(active_id1=='undefined'){
			guize1='';
			guize2='';
			guize3='';
			console.log(guize1);
			lunbo_xx();
			shop_xiangq();
			getGuize();
			youhui();
			shop_sucai();
			xiangce_pic();
			setTimeout(function() {
				jiage();
			},500);
		}else if(active_id1==2){
			ca.newInterface({
				url:'goods-details-yushou.html?prom_id='+prom_id+'&'+active_id1 +'&'+goods_id,
				id:'goods-details-yushou.html'
			})
		}else if(active_id1==3){
			ca.newInterface({
				url:'pintuan_xx.html?pintaun_id='+goods_id+'&'+active_id1 +'&'+prom_id,
				id:'pintuan_xx.html'
			})
		}else if(active_id1==4){
			ca.newInterface({
				url:'zhuli_kanjia.html?id='+active_id1,
				id:'zhuli_kanjia.html'
			})	
		}else if(active_id1==5){
			ca.newInterface({
				url:'seckill-details.html?goods_id='+goods_id + '&'+ active_id1,
				id:'seckill-details.html'
			})
		}else{
			ca.newInterface({
				url:'goods-details_huodong.html?goods_id='+goods_id+'&'+active_id1,
				id:'goods-details_huodong.html'
			})
		}
	});
	
	
	
	
	
	
	
	
	
	setTimeout(function(){
		shop_xiangq();
	},1000)
		//商品详情详情
            function shop_xiangq() {
                var obj = {};
                obj.goodsid = goods_id;
//				console.log(obj);
                ca.get({
                    url: hetao.url + 'goods/goodsInfo',
                    data: obj,
                    succFn: function(data) {
                        var res = JSON.parse(data);
                        console.log(res);
                        var imgs = '';
                        var description = res.data.intro;
                        var content=res.data.content ;
                        var spec=res.data.spec;
                        var str='';

                        //console.log(content);
                        if(res.status==1){
                            //规格参数
                            str+='<tr>'
                                +'<td width="40%">商品编号</td>'
                                +'<td>'+spec.code+'</td>'
                            str+='</tr>'
                            str+='<tr>'
                                +'<td colspan="2">主题</td>'
                            str+='</tr>'
                            for(var i in spec.subject.key){
                                str+='<tr>'
                                    +'<td>'+spec.subject.key[i]+'</td>'
                                    +'<td>'+spec.subject.val[i]+'</td>'
                                str+='</tr>'
                            }

                            $('.guige table').html(str);

                            //商品介绍
                            for(var i in description) {
                                imgs += '<li>' +
                                    '    <img src="' + hetao.url2 + description[i] + '" style="margin-bottom:0px;">' +
                                    '</li>';
                            }
                            $('.shop_jieshao').html(imgs);
                            //购买须知
                            $('.need').html(content.content);
                        }


                    }
                })
            }
	shop_xiangq();
	
	
	

	
	
	
	
	
	
	
	
	
	
	
	//规格属性
	function getGuize(){
		var obj = {};
		obj.goods_id = goods_id;
		//console.log(obj);
		ca.get({
			url: hetao.url + 'goods/getGuize',
			data: obj,
			succFn: function(data) {
				var res = JSON.parse(data);
					console.log(res);
				var data = res.data;
				var str = '';
				var yangshi; //属性的样式
				var shuxing; //属性的样式
				if(res.status == 1) {
					for(var i in data) {
							console.log(data.length);
						if(i == 0) {
							shuxing = 'gg'
						}else if(i==1){
							shuxing = 'zhongjian'
						}else{
							shuxing = 'ys'
						}
						
						str += '<li class="types">' +
							'<span>' + data[i].spec_name + '</span>'
						str + '</li>'
						str += '<li class="center_top">'
						for(var j in data[i].values) {
							if(j == 0) {
								yangshi = 'on';
							} else {
								yangshi = '';
							}
							str += '<p class="' + yangshi + ' ' + shuxing + '"  shuxing="' + shuxing + '" spec_value_id="' + data[i].values[j].spec_value_id + '">' + data[i].values[j].spec_value_name + '</p>'
						}
						str += '</li>'
					}
					$('.center ul').html(str);
					jiage();
				}
				//mui.plusReady(function(){plus.nativeUI.closeWaiting();});
			}
		});
	}
	getGuize();
	
	//规格属性样式的切换
	
	$('.center').on('tap', 'p', function() {
		var spec_value_id = $(this).attr('spec_value_id');
		var shuxing = $(this).attr('shuxing');
		
		if(shuxing == 'gg') {
			guize1 = spec_value_id;
			if(!guize2) {
				var index =$('.center .zhongjian').attr('spec_value_id'); 
				guize2 = index;
			}
			if(!guize3){
				var index = $('.center .ys').attr('spec_value_id'); 
				guize3 = index;
			}
		} else if(shuxing == 'zhongjian'){
			if(!guize1) {
				var index = $('.center .gg').attr('spec_value_id');
				guize1 = index;
			}
			if(!guize3){
				var index = $('.center .ys').attr('spec_value_id'); 
				guize3 = index;
			}
			guize2 = spec_value_id;
			
		}else{
			if(!guize1) {
				var index = $('.center .gg').attr('spec_value_id');
				guize1 = index;
			}
			
			if(!guize2) {
				var index = $('.center .zhongjian').attr('spec_value_id'); 
				guize2 = index;
			}
			guize3 = spec_value_id;
		}
		
		jiage();
		$(this).addClass('on').siblings().removeClass('on')
	})
	var sku_id;
	//规格价格
	function jiage() {
		var index1 = $('.center .gg').attr('spec_value_id');
		var index2 = $('.center .zhongjian').attr('spec_value_id');
		var index3 = $('.center .ys').attr('spec_value_id');
		console.log(index1);
		console.log(index2);
		console.log(index3);
		if(!guize1) {
			if(index1) {
				guize1 = index1;
				console.log('再次点击1')
			} else {
				guize1 = '';
				console.log('再次点击2')
			}
		} else {
			guize1 = guize1;
			console.log('再次点击3')
		}
		
		if(!guize2) {
			if(index2) {
				guize2 = index2;
			} else {
				guize2 = '';
			}
		} else {
			guize2 = guize2;
		}
		if(!guize3) {
			if(index3) {
				guize3 = index3;
			} else {
				guize3 = '';
			}
		} else {
			guize3 = guize3;
		}
		var obj = {};
		obj.goods_id = goods_id;
		obj.guize1 = guize1;
		obj.guize2 = guize2;
		obj.guize3 = guize3;
		console.log(JSON.stringify(obj));
		ca.get({
			url: hetao.url + 'goods/getPrice',
			data: obj,
			succFn: function(data) {
				var res = JSON.parse(data);
				console.log(res);
				console.log(JSON.stringify(res));
				if(res.status == 1) {
					sku_id = res.data.sku_id;
					console.log('果果');
					console.log(sku_id);
                    $('.guige-list p').html(res.data.sku_name);
                    $('#top').html('<em>¥</em>' + res.data.price);
                    $('#ku1').html('库存' + res.data.stock + '件');
                    $('.title .price span').html('<em>¥</em>' + res.data.price);
                    $('.title .price i').html('赚¥' + res.data.dianzhu_price);
                    $('.title .price del').html('¥' + res.data.show_price);

                }
				
			}
		})
	}
	
//	setTimeout(function() {
//		jiage();
//	},1500);
	
	//优惠券列表
	function youhui(){
		if(!user_id){
			user_id='';
			token='';
		}
		var obj = {};
		obj.token = token;
		obj.uid = user_id;
		obj.goodsid = goods_id;
		ca.get({
			url: hetao.url + 'goods/getCoupon',
			data: obj,
			succFn: function(data) {
				var res = JSON.parse(data);
				console.log(res);
				var data = res.data;
				var str = '';
				if(res.status == 1) {
					if(data.length!=0){
						for(var i in data) {
							str += '<li coupon_id="' + data[i].coupon_id + '">' +
								'<div class="yhq-list-left">' +
								'<span>订单金额满' + data[i].coupon_use_limit + '可用</span>' +
								'<p>' + data[i].coupon_s_time + '-' + data[i].coupon_aval_time + '</p>' +
								'</div>' +
								'<div class="yhq-list-right">' +
								'<span><em>¥</em>' + data[i].coupon_price + '</span>' +
								'<p>立即领取</p>' +
								'</div>'
							str += '</li>'
						}
						$('.yhq-list ul').html(str);
					}else{
						$('.yhq-list ul').html('<p style="text-align: center;padding:30vw 0;font-size:13px;">当前商品没有优惠券</p>');
					}	
				}else{
					$('.yhq-list ul').html('<p style="text-align: center;padding:30vw 0;font-size:13px;">当前商品没有优惠券</p>');
				}
			}
		})
	}
	youhui();
	
	//收藏商品
	$('.collects').click(function() {
		console.log(is_favor);
		if(!user_id) {
			ca.prompt('请先登录');
			return;
		}
		var obj = {};
		obj.token = token;
		obj.uid = user_id;
		obj.goodsid = goods_id;
		if(is_favor == 0) {
			ca.get({
				url: hetao.url + 'goods/goodsFavor',
				data: obj,
				succFn: function(data) {
					var res = JSON.parse(data);
					//console.log(res);
					var data = res.data;
					var str = '';
					if(res.status == 1) {
						ca.prompt('商品收藏成功');
						var arr = ['personal/my_shoucang.html'];
						ca.sendNotice(arr, 'shoucang', {});
						$('.collects icon').css('color', '#d31a1a');
						$('.collects i').css('color', '#d31a1a');
						lunbo_xx();
					}
				}
			});
		} else if(is_favor == 1) {
			ca.get({
				url: hetao.url + 'goods/goodsFavor',
				data: obj,
				succFn: function(data) {
					var res = JSON.parse(data);
					//console.log(res);
					var data = res.data;
					var str = '';
					if(res.status == 1) {
						ca.prompt('商品取消收藏成功');
						$('.collects icon').css('color', '#333');
						$('.collects i').css('color', '#333');
						lunbo_xx();
	
					}
				}
			});
		}
	
	});
	
	//商品上下架
	$('.shangjia').click(function() {
		console.log(is_shangjia);
		if(is_shangjia==1){
			var obj={};
			obj.uid=user_id;
			obj.token=token;
			obj.goods_id=goods_id;
			obj.type=2;
			console.log(obj);
			ca.confirm({
				title:'提示',
				content:'是否下架商品',
				callback:function(data){
					if(data){
						ca.get({
							url:hetao.url+'store/goodsManage',
							data:obj,
							succFn:function(data){
								var res=JSON.parse(data);
								console.log(res);
								if(res.status==1){
									var arr=['shop/shop_manage.html'];
									ca.sendNotice(arr,'xiajia',{});
									ca.prompt('该商品已下架到商铺中');
									lunbo_xx();
								}
							}
						})
					}
				}
			});
		}else{
			var obj={};
			obj.uid=user_id;
			obj.token=token;
			obj.goods_id=goods_id;
			obj.type=1;
			console.log(obj);
			ca.confirm({
				title:'提示',
				content:'是否上架商品',
				callback:function(data){
					if(data){
						ca.get({
							url:hetao.url+'store/goodsManage',
							data:obj,
							succFn:function(data){
								var res=JSON.parse(data);
								console.log(res);
								if(res.status==1){
									var arr=['shop/shop_manage.html'];
									ca.sendNotice(arr,'xiajia',{});
									
									ca.prompt('该商品已上架到商铺中');
									lunbo_xx();
								}
							}
						})
					}
				}
			});
		}	
	});
	
	
	
	
	
	
	
	
	
	
	
	
	//商品详情素材
	//var is_favorite;//判断素材收藏
            function shop_sucai() {
                if(login_type == 1) {
                    $('.shangchuan').css('display', 'block');

                } else {
                    $('.shangchuan').css('display', 'none');

                }
                var obj = {};
                if(!user_id) {
                    user_id = '';
                    token = '';
                } else {
                    user_id = user_id;
                    token = token;
                }
                obj.uid = user_id;
                obj.token = token;
                obj.goodsid = goods_id;
                var user_avat;
                var sc_img;
                //console.log(obj);
                ca.get({
                    url: hetao.url + 'goods/goodsMaterial',
                    data: obj,
                    succFn: function(data) {
                        var res = JSON.parse(data);
                        console.log(res);
                        var data = res.data;
                        var str = '';
                        var sucai_shou;
                        if(res.status == 1) {
                            for(var i in data) {

                                if(data[i].mate_thumb){
                                    sc_img='block';
                                }else{
                                    sc_img='none';
                                }
                                if(data[i].is_favorite == 1) {
                                    sucai_shou = 'active';
                                } else {
                                    sucai_shou = '';
                                }

                                if(!data[i].user_avat) {
                                    user_avat = '__STATIC__/fx/img/hetao.png';
                                } else if(data[i].user_avat.indexOf('http')!=-1){
                                    user_avat=data[i].user_avat;
                                }else {
                                    user_avat = hetao.url2 + data[i].user_avat;
                                }
                                str += '<div class="find-list" m_id="' + data[i].m_id + '">'
                                str += '<div class="faxian_sucai">'+
                                    '<div class="find-list-top">' +
                                    '<img src="' + user_avat + '"/>' +
                                    '<span>' + data[i].user_name + '</span>' +
                                    '<p>' + data[i].mate_add_time + '</p>' +
                                    '</div>' +
                                    '<div class="find-list-text text_line">' +
                                    '<p>' + data[i].mate_content + '</p>' +
                                    '</div>'
                                str += '<div class="find-list-imgs" style="display: '+sc_img+';">'
                                for(var j in data[i].mate_thumb) {
                                    console.log(data[i].mate_thumb[j]);
                                    str += '<img src="' + data[i].mate_thumb[j] + '?imageView2/1/w/200/h/200/q/75|imageslim" data-preview-src="" data-preview-group="1"/>'
                                }
                                str+='</div>'
                                var mate_video;
                                if(data[i].mate_video){
                                    mate_video='block';
                                }else{
                                    mate_video='none';
                                }
                                str+='<div class="video" style="display: '+mate_video+';">'
                                    +	'<video style="max-width:100%;height:200px;" src="'+data[i].mate_video+'" controls="controls" poster="'+data[i].mate_video+'?vframe/jpg/offset/0'+'" preload="auto">'
                                    +'</video>'
                                str+='</div>'


                                // str += '</div>' +
                                //     '<div class="collect">' +
                                //     '<div class="coll" id="coll" is_favorite="' + data[i].is_favorite + '">' +
                                //     '<i class="iconfont icon-shoucang ' + sucai_shou + '"></i>' +
                                //     '<span class="' + sucai_shou + '">收藏</span>' +
                                //     '</div>' +
                                //     '<div class="share" style="display:block;position:initial">' +
                                //     '<i class=""></i>' +
                                //     '<span>分享</span>' +
                                //     '</div>' +
                                //     '</div>'
                                str += '</div>'
                            }
                            if(res.data == '') {
                                str = '<p style="text-align: center;padding:30vw 0;font-size:13px;">当前商品没有更多素材</p>';
                                $('.find').css('background-color', '#fff');
                            }
                            $('.find #source').html(str);
                        }
                    }
                })
            }
	shop_sucai();

	//素材收藏
	$('.find').on('tap', '.collect #coll', function() {
		var is_favorite = $(this).attr('is_favorite');
		var m_id = $(this).parents('.find-list').attr('m_id');
		console.log(is_favorite);
		console.log(m_id);
		if(!user_id) {
			ca.prompt('请先登录');
			return;
		}
		var obj = {};
		obj.token = token;
		obj.uid = user_id;
		obj.mid = m_id;
		if(is_favorite == 1) {
			ca.get({
				url: hetao.url + 'Goods/mateFavor',
				data: obj,
				succFn: function(data) {
					var res = JSON.parse(data);
					console.log(res);
					var data = res.data;
					var str = '';
					if(res.status == 1) {
						ca.prompt('素材取消收藏成功');
						var arr = ['personal/my_shoucang.html'];
						ca.sendNotice(arr, 'shoucang', {});
						$('.find .collect #coll span').removeClass('active');
						$('.find .collect #coll i').removeClass('active');
						shop_sucai();
						//$('.find .collect #coll').attr('is_favorite', 0);
					}
				}
			});
		} else {
			ca.get({
				url: hetao.url +'Goods/mateFavor',
				data: obj,
				succFn: function(data) {
					var res = JSON.parse(data);
					//console.log(res);
					var data = res.data;
					var str = '';
					if(res.status == 1) {
						ca.prompt('素材收藏成功');
						var arr = ['personal/my_shoucang.html'];
						ca.sendNotice(arr, 'shoucang', {});
						$('.find .collect #coll span').addClass('active');
						$('.find .collect #coll i').addClass('active');
						shop_sucai();
					}
				}
			});
		}
	})
	
	
	
	
	
	
	
	
	
	
	
	
	//加入购物车
	var login_id;
	var login_token;
	$('#gouwuche').click(function() {
		var num = $('.mui-input-numbox').val();
		login_id=localStorage.getItem('login_id');
		login_token=localStorage.getItem('login_token');
		console.log(login_id);
		console.log(login_token);
		var obj = {};
		if(!login_id){
			window.location.href=hetao.url3+'/erweima/xianshang/logig_youhui.html';
		}else{
			
			if(!active_id){
				active_id=''
			}else{
				active_id=active_id;
			}
			obj.token = login_token;
			obj.uid = login_id;
			obj.goods_id = goods_id;
			obj.prom_id = active_id;
			obj.num = num;
			obj.sku_id = sku_id;
			console.log(obj);
			ca.get({
				url: hetao.url + 'cart/cartAdd',
				data: obj,
				succFn: function(data) {
					var res = JSON.parse(data);
					console.log(res);
					if(res.status == 1) {
						ca.prompt('加入购物车成功');
						ca.confirm({
							title:'提示',
							content:'是否下载APP',
							callback:function(data){
								if(data){
									setTimeout(function(){
										window.location.href=hetao.url3+'/erweima/url.html';
									},100);
								}
							}
						});
					}else{
						ca.prompt(res.msg);
					}
				}
			})
		}
	});
	


	//立即购买
	$('.buy').click(function() {
		var num = $('.mui-input-numbox').val();
		login_id = "{$uid}";
		login_token= "{$token}";
		console.log(login_id);
		console.log(login_token);
		var obj = {};
		if(!login_id){
			window.location.href='';
		}else{
			
			if(!active_id){
				active_id=''
			}else{
				active_id=active_id;
			}
			obj.token = login_token;
			obj.uid = login_id;
			obj.goods_id = goods_id;
			obj.prom_id = active_id;
			obj.num = num;
			obj.sku_id = sku_id;
			console.log(obj);
            // 直接跳转 到指定页
            var yaoqingma = "{$yaoqingma}";
            var param_str = "goodsid="+goods_id+"&num="+num+"&sku_id="+sku_id+'&type=weixin'+'&order_type=liji'+"&active_id="+active_id+"&yaoqingma="+yaoqingma;
            window.location.href = hetao.url3+"/Api/Fx/write_order?"+param_str;
			// ca.get({
			// 	url: hetao.url + 'cart/write_order',
			// 	data: obj,
			// 	succFn: function(data) {
			// 		var res = JSON.parse(data);
			// 		console.log(res);
			// 		if(res.status == 1) {
			// 			ca.prompt('加入购物车成功');
			// 			ca.confirm({
			// 				title:'提示',
			// 				content:'是否下载APP',
			// 				callback:function(data){
			// 					if(data){
			// 						setTimeout(function(){
			// 							window.location.href='http://juangou.tainongnongzi.com/public/erweima/url.html';
			// 						},100);
			// 					}
			// 				}
			// 			});
			// 		}else{
			// 			ca.prompt(res.msg);
			// 		}
			// 	}
			// })
		}
	});
	//立即结算
	$('#buy').click(function() {
		var num = $('.mui-input-numbox').val();
		login_id=localStorage.getItem('login_id');
		login_token=localStorage.getItem('login_token');
		console.log(login_id);
		console.log(login_token);
		var obj = {};
		if(!login_id){
			window.location.href=hetao.url3+'/erweima/xianshang/logig_youhui.html';
		}else{
			
			if(!active_id){
				active_id=''
			}else{
				active_id=active_id;
			}
			obj.token = login_token;
			obj.uid = login_id;
			obj.goods_id = goods_id;
			obj.prom_id = active_id;
			obj.num = num;
			obj.sku_id = sku_id;
			console.log(obj);
			ca.get({
				url: hetao.url + 'cart/cartAdd',
				data: obj,
				succFn: function(data) {
					var res = JSON.parse(data);
					console.log(res);
					if(res.status == 1) {
						ca.prompt('加入购物车成功');
						ca.confirm({
							title:'提示',
							content:'是否下载APP',
							callback:function(data){
								if(data){
									setTimeout(function(){
										window.location.href=hetao.url3+'/erweima/url.html';
									},100); 
								}
							}
						});
					}else{
						ca.prompt(res.msg);
					}
				}
			})
		}
	});
			
			
			
			
			
			
			
			

			

			//发布素材
			$('.shangchuan').click(function() {
				ca.newInterface({
					url: 'fabu_source.html?goods_id=' + goods_id,
					id: 'fabu_source.html'
				})
			});

			

			//规格弹出属性的切换
			$('.center_top').on('tap', 'p', function() {
				var index = $('.center .ys').attr('spec_value_id');
				console.log(index);
				$(this).addClass('on').siblings().removeClass('on');
			});

			/*切换*/
			$('.header-tab').on('tap', 'li', function() {
				var index = $(this).index();
				$(this).find('span').addClass('active');
				$(this).siblings().find('span').removeClass('active');
				$('.mui-content .tab-box').eq(index).show().siblings().hide();
				//console.log(index);
			})
			ca.receiveNotice('jinri',function(){
				alert('今日推荐')
				$('.header-tab li').eq(2).find('span').addClass('active');
				$('.header-tab li').eq(2).siblings('li').find('span').removeClass('active');
				$('.mui-content .tab-box').eq(2).show().siblings().hide();
			})
			
			
			
			//图片轮播
			var gallery = mui('.mui-slider');
			gallery.slider({
				interval: 5000 //自动轮播周期，若为0则不自动播放，默认为0；
			});
			document.querySelector('.mui-slider').addEventListener('slide', function(event) {
				//注意slideNumber是从0开始的；
				$(".shuzi em").html(event.detail.slideNumber + 1);
			});

			//商品详情顶部切换
            $('.xiangqing_top span').click(function() {
                var index = $(this).index();
                $(this).addClass('active').siblings().removeClass('active');
                if(index == 0) {
                    $('.shop_jieshao').css('display', 'block');
                    $('.xq_guige').css('display', 'none');
                    $('.need').css('display', 'none');
                    $('.xiangqing_top span:nth-child(1)').css('border-right', '1px solid #D31A1A');
                    $('.xiangqing_top span:nth-child(3)').css('border-left', '1px solid #999999');
                } else if(index == 1) {
                    $('.xiangqing_top span:nth-child(1)').css('border-right', 'none');
                    $('.xiangqing_top span:nth-child(3)').css('border-left', 'none');
                    $('.xiangqing_top span').css('border-right:none');
                    $('.xq_guige').css('display', 'block');
                    $('.shop_jieshao').css('display', 'none');
                    $('.need').css('display', 'none');
                } else {
                    $('.need').css('display', 'block');
                    $('.shop_jieshao').css('display', 'none');
                    $('.xq_guige').css('display', 'none');
                    $('.xiangqing_top span:nth-child(1)').css('border-right', '1px solid #999999');
                    $('.xiangqing_top span:nth-child(3)').css('border-left', '1px solid #D31A1A');
                }
            });

			/*规格*/
			$('.guige-list').click(function() {
				hidden();
				$(".min-box").click(function() {
					scroll();
					$(".max-box").hide();
					
				})
				$('.max-box').show();

			});

			//加入购物车
			$('.add-car').click(function() {
				hidden();
				$(".min-box").click(function() {
					scroll();
					$(".max-box").hide();
				})
				$('.max-box').show();

			});

			$("#del").click(function() {
				$(".max-box").hide();
			})

			//优惠券
			$('.lingquan').click(function() {
				hidden();
				$('.yhq-box').show();
			})
			$('.yhq-shadow').click(function() {
				scroll();
				$('.yhq-box').hide();
			})
			$("#yhq-del").click(function() {
				scroll();
				$('.yhq-box').hide();
			})

			/*领券*/
			$('.yhq-list').on('tap', 'li', function() {
				var coupon_id = $(this).attr('coupon_id');
				console.log(coupon_id);
				if(!user_id){
					ca.prompt('请先登录');
					return;
				}
				var obj = {};
				obj.token = token;
				obj.uid = user_id;
				obj.coupon_id = coupon_id;
				console.log(obj);
				ca.get({
					url: hetao.url + 'Index/getCoupon',
					data: obj,
					succFn: function(data) {
						var res = JSON.parse(data);
						console.log(res);
						if(res.status == 1) {
							$('.get-success').show();
							setTimeout(function(){
								$('.get-success').hide();
							},1000)
						}else{
							ca.prompt(res.msg);
						}
					}
				});
			})

			/*分享*/
			$('.icon-fenxiang').click(function() {
				hidden();
				$('.zhedang').css('display','block');
				//$('.share1').show();
			})
			$('.share-shadow').click(function() {
				scroll();
				$('.share1').hide();
			})
			//隐藏分享
			$('.quxiao').click(function() {
				scroll();
				$('.zhedang').css('display','none');
				//$('.share1').show();
			})
			//显示商品二维码
			$('.shop_er').click(function() {
				hidden();
				$('.zhedang').css('display','none');
				$('.share1').show();
			})
			
			
			
			
			
			
			
			
			
			/*查看全部*/
			$('.all-comment').click(function() {
				mui.openWindow({
					url:'comment.html?goods_id='+goods_id,
					id:'comment.html'
				})
			})
		</script>
	</body>

</html>