<!DOCTYPE html>
<html lang="zh-cn">
{include file="public/head" title="商品分类添加" /}

<body class="inside-header inside-aside is-dialog">
<div id="main" role="main">
    <div class="tab-content tab-addtabs">
        <div id="content">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <section class="content-header hide">
                        <h1>
                            控制台                                    <small>Control panel</small>
                        </h1>
                    </section>
                    <div class="content">
                        <form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="{:url('admin/introduction.introduction/add')}">

                            <div class="form-group">
                                <label for="c-picture" class="control-label col-xs-12 col-sm-2">引导页图片:</label>
                                <div class="col-xs-12 col-sm-8">
                                    <div class="form-inline">
                                        <input id="c-picture" class="form-control" size="50" name="row[img]" type="text" value="">

                                        <span><button type="button" id="plupload-picture" class="btn btn-danger plupload" data-multiple="true" data-input-id="c-picture" data-maxsize="1024000" data-preview-id="p-picture"><i class="fa fa-upload"></i> 上传</button></span>

                                        <ul class="row list-inline plupload-preview" id="p-picture"></ul>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group layer-footer">
                                <label class="control-label col-xs-12 col-sm-2"></label>
                                <div class="col-xs-12 col-sm-8">
                                    <button type="submit" class="btn btn-success btn-embossed disabled">确定</button>
                                    <button type="reset" class="btn btn-default btn-embossed">重置</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="public/javascript" jsname="backend/introduction/introduction" controllername="introduction"  actionname="add"/}
</body>
</html>