<!DOCTYPE html>
<html lang="zh-cn">
    {include file="public/head" title="商品添加" /}
    <style type="text/css">
    #sku .html table.skuTable{font-size:14px;color:#333;border-width:1px;border-color:#ddd;border-collapse:collapse}
    #sku .html table.skuTable th{border-width:1px;padding:5px 10px;border-style:solid;border-color:#ddd;color:#666;background-color:#ededed}
    #sku .html table.skuTable td{border-width:1px;padding:5px 10px;border-style:solid;border-color:#ddd;background-color:#fff;color:#666;widows:auto;text-align:center}
    .SKU_LIST{display: inline;}.SKU_LIST span{margin-left: 10px}
    </style>
    <body class="inside-header inside-aside is-dialog">
        <div id="main" role="main">
            <div class="tab-content tab-addtabs">
                <div id="content">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <section class="content-header hide">
                                <h1>
                                    控制台                                    <small>Control panel</small>
                                </h1>
                            </section>
                            <div class="content">
                                <form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="{:url('admin/goods/activeGoodsAdd')}">
                                    <div class="form-group">
                                        <label for="c-active" class="control-label col-xs-12 col-sm-2">选择活动:</label>
                                        <div class="col-xs-12 col-sm-8">

                                            <select  id="c-active" data-rule="required" name="row[active_type_id]" class="form-control selectpicker" >
                                                {volist name="activeList" id="v"}
                                                <option value="{$v.id}">{$v.active_type_name}</option>
                                                {/volist}
                                            </select>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="c-pid" class="control-label col-xs-12 col-sm-2">栏目选择分类查询:</label>
                                        <div class="col-xs-12 col-sm-8">

                                            <select  id="category" data-rule="required" class="form-control selectpicker" >
                                                {volist name="category" id="v"}
                                                <option value="{$v.category_id}">|—{:str_repeat('—',$v['level'])}{$v.category_name}</option>
                                                {/volist}
                                            </select>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="c-category_id" class="control-label col-xs-12 col-sm-2">栏目选择栏目:</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <select  id="category_er" data-rule="required" class="form-control selectpicker">
                                                <option value="0">选择二级栏目</option>
                                                {volist name="allcategory" id="v"}
                                                <option value="{$v.category_id}" {if $row['goryid']==$v['category_id']}selected{/if}>|—{:str_repeat('—',$v['level'])}{$v.category_name}</option>
                                                {/volist}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="c-goods_name" class="control-label col-xs-12 col-sm-2">商品名称:</label>
                                        <div class="col-xs-12 col-sm-8" >
                                            <select name="row[goods_id]" id="goods_name" class="form-control">

                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="c-goods_stock" class="control-label col-xs-12 col-sm-2">库存:</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <input id="c-goods_stock" data-rule="required" class="form-control" type="text" value="" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="c-goods_price" class="control-label col-xs-12 col-sm-2">商品销售价:</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <input id="c-goods_price" data-rule="required" name="row[goods_price]" class="form-control" type="text" value="" readonly>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="c-volume" class="control-label col-xs-12 col-sm-2">商品总数:</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <input id="c-volume" data-rule="required" class="form-control" name="row[goods_num]" type="text" value="0">
                                        </div>
                                    </div>
									<div class="form-group">
                                        <label for="c-show_status" class="control-label col-xs-12 col-sm-2">展现方式:</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <label for="row[show_status]-normal"><input id="row[show_status]-normal"  name="row[show_status]" type="radio" value="0" checked > 单排大图</label>
                                            <label for="row[show_status]-hidden"><input id="row[show_status]-hidden" name="row[show_status]"  type="radio" value="1" >  双排小图</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="c-status" class="control-label col-xs-12 col-sm-2">状态:</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <label for="row[status]-normal"><input id="row[status]-normal" checked="checked" name="row[status]" type="radio" value="0"> 立即上架</label>
                                            <label for="row[status]-hidden"><input id="row[status]-hidden" name="row[status]" type="radio" value="1"> 结束</label>
                                        </div>
                                    </div>
                                    <div class="form-group" id="sort" style="display: none;">
                                        <label for="c-sort" class="control-label col-xs-12 col-sm-2">排序:</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <input id="c-sort" class="form-control" name="row[sort]" type="number" placeholder="255">
                                        </div>
                                    </div>
                                    <div class="form-group layer-footer">
                                        <label class="control-label col-xs-12 col-sm-2"></label>
                                        <div class="col-xs-12 col-sm-8">
                                            <button type="submit" class="btn btn-success btn-embossed disabled">确定</button>
                                            <button type="reset" class="btn btn-default btn-embossed">重置</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
        var attribute_url="{:url('goods/attributeInfo')}";
        var getcatebrand_url="{:url('goods/getCatebrand')}";
        var getGoodsInfo_url="{:url('goods/getGoodsInfo')}";
        var getGoodsName="{:url('goods/getGoodsName')}";
        var getSecondName="{:url('goods/getSecondName')}";
        </script>
        {include file="public/javascript" jsname="backend/goods/activeGoods" controllername="index"  actionname="add"/}
    </body>
</html>