<!DOCTYPE html>
<html lang="zh-cn">
    {include file="public/head" title="业绩奖励" /}
    <style type="text/css">
        .columns{
            display: none;
        }
        .fixed-table-pagination{
            display: none;
        }
    </style>
    <body class="inside-header inside-aside ">
        <div id="main" role="main">
            <div class="tab-content tab-addtabs">
                <div id="content">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="content">                                
                                <div class="panel panel-default panel-intro">
                                    <div class="panel-body">                                            
                                        <!-- 季度奖励 -->
                                        <div id="myTabContent" class="tab-content">
                                            <div class="tab-pane fade active in" id="one">
                                                <div class="widget-body no-padding">
                                                    <div id="toolbar" class="toolbar">              
                                                        <form class="form-inline form-commonsearch nice-validator n-default" action="" novalidate="novalidate">
                                                            <fieldset>
                                                                 <!-- <a href="javascript:history.go(-1);" class="btn btn-primary btn-refresh"><i class="fa fa-reply"></i> </a> -->
                                                                <div class="form-group" style="margin-left: 20px;">
                                                                    <input type="text" class="form-control" name="start_time" value="{$start_time}" placeholder="起始时间" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" autocomplete="off" autocomplete="off">&nbsp;至&nbsp;
                                                                    <input type="text" class="form-control" name="end_time" value="{$end_time}" placeholder="结束时间" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" autocomplete="off">
                                                                </div>
                                                                <input type="hidden" name="s_id" value="{$s_id}">
                                                                <div class="form-group" style="margin-left:20px;">
                                                                    <div class="col-sm-12 text-center">
                                                                        <button type="submit" class="btn btn-success">搜索</button>
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                        </form>
                                                    </div>
                                                    <table id="table" class="table table-striped table-bordered table-hover" width="100%"></table>
                                                    <div class="prices">
                                                        <p id="sku" style="margin-top: 10px">
                                                            <span class="price">合计金额：{$total_price}</span>     
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <script type="text/javascript">
            var index_url = "{:url('admin/store/perforreward',['start_time'=>$start_time,'end_time'=>$end_time, 's_id' => $s_id])}";
            // console.log(parent.document.getElementsByTagName("iframe"));
            // var oIframe = $(window.parent.document).find('iframe');
            // var oTitle = oIframe.parents('.layui-layer-content').siblings('.layui-layer-title');
            // oTitle.text(window.document.title).css('text-align', 'center');             
        </script>
        {include file="public/javascript" jsname="backend/store/perforreward" controllername="store" actionname="index"/}         
    </body>
</html>