<!DOCTYPE html>
<html lang="zh-cn">
    {include file="public/head" title="添加物流信息" /}

    <body class="inside-header inside-aside is-dialog">
        <div id="main" role="main">
            <div class="tab-content tab-addtabs">
                <div id="content">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <section class="content-header hide">
                                <h1>
                                    控制台                                    <small>Control panel</small>
                                </h1>
                            </section>

                            <div class="content">
                                <form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="{:url('admin/order/editpay')}">

                                    <input type="hidden" name="order_id" value="{$row['order_id']}">

                                    <div class="form-group">
                                        <label for="c-order_no" class="control-label col-xs-12 col-sm-2" >订单编号:</label>
                                        <div class="col-xs-12 col-sm-8" style="margin-top:7px;width: 30%;" >
                                            <span>{$row['order_no']}</span><br>
                                        </div>
                                        <label for="c-order_type" class="control-label col-xs-12 col-sm-2">订单类型:</label>
                                        <div class="col-xs-12 col-sm-8" style="margin-top:7px;width: 30%;">
                                            <span>{$row['order_type']}</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="c-order_create_time" class="control-label col-xs-12 col-sm-2">下单时间:</label>
                                        <div class="col-xs-12 col-sm-8" style="margin-top:7px;">
                                            <span>{:date('Y-m-d H:i:s',$row['order_create_time'])}</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="c-invoice_goods" class="control-label col-xs-12 col-sm-2">订单商品:</label>
                                        <div class="col-xs-12 col-sm-8" style="margin-top:7px;">
                                            <span>(商品编号：{$row['goods_numbers']}){$row['og_goods_name']}</span>
                                            <span style="padding-left: 10px;">{$row['og_goods_spec_val']}</span>
                                            <span style="padding-left: 10px;">×{$row['og_goods_num']}</span>
                                        </div>
                                    </div>
                                    <hr style="background-color: black;height: 1px;">
                                    <div class="form-group"style="border: 1px;">
                                        <label for="c-invoice_user" class="control-label col-xs-12 col-sm-2">用户信息:</label>
                                        <div class="form-inline" style="display:inline-block ">
                                            <img src="{$row['user_avat']}" style="width: 80px;height: 75px;margin-left: 16px;">
                                        </div>
                                        <div style="display:inline-block;margin-left:15px;margin-top: 20px;">
                                            <p >{$row['user_truename']}</p>
                                            <p style="display: inline-block">{$row['user_mobile']}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="c-invoice_com" class="control-label col-xs-12 col-sm-2">收货人:</label>
                                        <div class="col-xs-12 col-sm-8" style="margin-top:7px;width: 30%;">
                                            <input type="text" value="{$row['addr_receiver']}" disabled="disabled">
                                        </div>
                                        <div class="col-xs-12 col-sm-8" style="margin-top:7px;width: 30%;">
                                            <input type="text" value="{$row['addr_phone']}" disabled="disabled">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12 col-sm-8" style="margin-top:7px;margin-left: 132px;">
                                            <input type="text" value="{$row['address']}" disabled="disabled" style="width:78%;">
                                        </div>
                                    </div>
                                    <hr style="background-color: black;height: 1px;">
                                    <div class="form-group">
                                        <label for="c-order_create_time" class="control-label col-xs-12 col-sm-2">抵扣信息:</label>
                                        <div class="col-xs-12 col-sm-8" style="padding-top:7px;">
                                            <p>积分：<span>{$row['order_pay_points']}元</span>
                                               <!-- <span style="margin-left: 80px">活动优惠：{$row['order_prom_amount']}元</span>
                                                <span style="margin-left: 80px">元宝：{$row['yin_amount']}元</span>-->
                                            </p>
                                          <!--  <p>充值卡：<span>{$row['card_price']}元</span>
                                                <span style="margin-left: 80px">优惠券：{$row['order_coupon_id']}元</span>
                                            </p>-->
                                        </div>
                                    </div>
                                    <hr style="background-color: black;height: 1px;">
                                    <div class="form-group">
                                        <label for="c-order_create_time" class="control-label col-xs-12 col-sm-2">订单信息:</label>
                                        <div class="col-xs-12 col-sm-8" style="padding-top:7px;">
                                            <p>订单运费：<span>{$row['order_freight']}</span>
                                                <span style="margin-left: 80px">订单金额：{$row['order_all_price']}元</span>
                                                <span style="margin-left: 80px">应付金额{$row['order_pay_price']}元</span><br>
                                            </p>
                                            <p>
                                                <span>应付金额：</span>
                                                <input  class="form-control" name="row[order_pay_price]" type="text" value="{$row['order_pay_price']}" data-rule="required" style="width:66%;">
                                            </p>
                                        </div>
                                    </div>
									
                                   <!-- <div class="form-group">
                                        <label for="c-invoice_com" class="control-label col-xs-12 col-sm-2">收货人:</label>
                                        <div class="col-xs-12 col-sm-8" style="padding-top:7px;">
                                            <span>{$row['addr_receiver']}</span>
                                        </div>
                                    </div> 
									<div class="form-group">
                                        <label for="c-invoice_com" class="control-label col-xs-12 col-sm-2">收货人地址:</label>
                                        <div class="col-xs-12 col-sm-8" style="padding-top:7px;">
                                            <span>{$row['address']}</span>
                                        </div>
                                    </div>
									<div class="form-group">
                                        <label for="c-invoice_com" class="control-label col-xs-12 col-sm-2">收货人电话:</label>
                                        <div class="col-xs-12 col-sm-8" style="padding-top:7px;">
                                            <span>{$row['addr_phone']}</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="c-invoice_header" class="control-label col-xs-12 col-sm-2">商品名称:</label>
                                        <div class="col-xs-12 col-sm-8" style="padding-top:7px;">
                                            <span>{$row['og_goods_name']}</span>
                                        </div>
                                    </div>
									 <div class="form-group">
											<label for="c-user_avat" class="control-label col-xs-12 col-sm-2"> 商品主图:</label>
											<div class="col-xs-12 col-sm-8">
												<div class="form-inline">
													<ul class="row list-inline plupload-preview" id="p-mate_thumb">
													
													<li class="col-xs-3"><a href="{$row['picture']}" data-url="" target="_blank" class="thumbnail"><img src="{$row['picture']}" class="img-responsive"></a></li>
													
													</ul>
												</div>
											</div>
										</div>
			 
                                    <div class="form-group">
                                        <label for="c-invoice_com" class="control-label col-xs-12 col-sm-2">商品规格:</label>
                                        <div class="col-xs-12 col-sm-8" style="padding-top:7px;">
                                            <span>{$row['og_goods_spec_val']}</span>
                                        </div>
                                    </div>
									 <div class="form-group">
                                        <label for="c-invoice_com" class="control-label col-xs-12 col-sm-2">商品数目:</label>
                                        <div class="col-xs-12 col-sm-8" style="padding-top:7px;">
                                            <span>{$row['og_goods_num']}</span>
                                        </div>
                                    </div>
 
									<div class="form-group">
                                        <label for="c-order_freight" class="control-label col-xs-12 col-sm-2">订单运费:</label>
                                        <div class="col-xs-12 col-sm-8" style="padding-top:7px;">

                                            <span>{$row['order_freight']}</span><br>

                                        </div>
                                    </div>
									<div class="form-group">
                                        <label for="c-order_coupon_id" class="control-label col-xs-12 col-sm-2">优惠券:</label>
                                        <div class="col-xs-12 col-sm-8" style="padding-top:7px;">

                                            <span>{$row['order_coupon_id']}</span><br>

                                        </div>
                                    </div>
								 
									<div class="form-group">
                                        <label for="c-order_prom_amount" class="control-label col-xs-12 col-sm-2">活动优惠:</label>
                                        <div class="col-xs-12 col-sm-8" style="padding-top:7px;">
                                            <span>{$row['order_prom_amount']}</span><br>

                                        </div>
                                    </div>
									<div class="form-group">
                                        <label for="c-order_create_time" class="control-label col-xs-12 col-sm-2">积分抵扣金额:</label>
                                        <div class="col-xs-12 col-sm-8" style="padding-top:7px;">
                                            <span>{$row['order_pay_points']}</span>
                                        </div>
                                    </div>
									<div class="form-group">
                                        <label for="c-order_create_time" class="control-label col-xs-12 col-sm-2">元宝抵扣金额:</label>
                                        <div class="col-xs-12 col-sm-8" style="padding-top:7px;">
                                            <span>{$row['yin_amount']}</span>
                                        </div>
                                    </div>
									<div class="form-group">
                                        <label for="c-order_create_time" class="control-label col-xs-12 col-sm-2">充值卡抵扣金额:</label>
                                        <div class="col-xs-12 col-sm-8" style="padding-top:7px;">
                                            <span>{$row['card_price']}</span>
                                        </div>
                                    </div>
 
									<div class="form-group">
                                        <label for="c-need_invoice" class="control-label col-xs-12 col-sm-2">是否要发票:</label>
                                        <div class="col-xs-12 col-sm-8" style="padding-top:7px;">

                                            <span>{$row['need_invoice']}</span><br>

                                        </div>
                                    </div>
									{if condition="$row['need_invoice'] neq '是'"} 
									<div class="form-group">
                                        <label for="c-invoice_type" class="control-label col-xs-12 col-sm-2">发票类型:</label>
                                        <div class="col-xs-12 col-sm-8" style="padding-top:7px;">

                                            <span>{$row['invoice_type']}</span><br>

                                        </div>
                                    </div>
									{/if}
									 
									<div class="form-group">
                                        <label for="c-og_goods_price" class="control-label col-xs-12 col-sm-2">订单总额:</label>
                                        <div class="col-xs-12 col-sm-8" style="padding-top:7px;">

                                            <span>{$row['order_all_price']}</span><br>

                                        </div>
                                    </div>
									<div class="form-group">
                                        <label for="c-og_goods_price" class="control-label col-xs-12 col-sm-2">订单实际支付金额:</label>
                                        <div class="col-xs-12 col-sm-8" style="padding-top:7px;">
											<input data-rule="required" class="form-control" name="row[order_pay_price]" type="text" value="{$row['order_pay_price']}" data-rule="required">
                                        </div>
                                    </div>
									&lt;!&ndash; <div class="form-group">
                                        <label for="c-og_goods_price" class="control-label col-xs-12 col-sm-2">订单支付价格:</label>
                                        <div class="col-xs-12 col-sm-8" style="padding-top:7px;">

                                            <span>{$row['og_goods_pay_price']}</span><br>

                                        </div>
                                    </div> &ndash;&gt;
									
									<div class="form-group">
                                        <label for="c-og_goods_price" class="control-label col-xs-12 col-sm-2">订单状态:</label>
                                        <div class="col-xs-12 col-sm-8" style="padding-top:7px;">

                                            <span>{$row['order_status']}</span><br>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="c-order_create_time" class="control-label col-xs-12 col-sm-2">提交时间:</label>
                                        <div class="col-xs-12 col-sm-8" style="padding-top:7px;">
                                            <span>{:date('Y-m-d H:i:s',$row['order_create_time'])}</span>
                                        </div>
                                    </div>
								 
								 
									 <div class="form-group">
                                        <label for="c-order_create_time" class="control-label col-xs-12 col-sm-2">支付时间:</label>
                                        <div class="col-xs-12 col-sm-8" style="padding-top:7px;">
                                            <span>{$row['order_pay_time']}</span>
                                        </div>
                                    </div>-->
									<div class="form-group layer-footer">
                                        <label class="control-label col-xs-12 col-sm-2"></label>
                                        <div class="col-xs-12 col-sm-8">
                                            <button type="submit" class="btn btn-success btn-embossed disabled">确定</button>
                                            <button type="reset" class="btn btn-default btn-embossed">重置</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            var index_url="{:url('admin/order/index',['order_status'=>$order_status])}";
            var add_url="{:url('admin/goods/add')}";
            var edit_url="{:url('admin/order/post')}";
            var del_url="{:url('admin/order/close')}";
            var multi_url="{:url('admin/goods/multi')}";
        </script>
        {include file="public/javascript" jsname="backend/order/index" controllername="order"  actionname="add"/}
    </body>
</html>