<!DOCTYPE html>
<html lang="zh-cn">
    {include file="public/head" title="售后审核" /}
<style>
ul.order_list{width:100%; margin-bottom:20px; margin-left:50px;}
.order_list li{ width:50%; float:left; list-style:none;}
.list_order{border: 1px solid #e5e5e5;overflow: hidden;margin-bottom: 20px;padding: 10px 0;}
</style>
    <body class="inside-header inside-aside is-dialog">
        <div id="main" role="main">
            <div class="tab-content tab-addtabs">
                <div id="content">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <section class="content-header hide">
                                <h1>
                                    控制台                                    <small>Control panel</small>
                                </h1>
                            </section>

                            <div class="content">
                                <form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="{:url('admin/order/orderAudit')}">

                                    <input type="hidden" name="order_id" value="{$row['order_id']}">
                                    <input type="hidden" name="og_id" value="{$row['og_id']}">
                                    <input type="hidden" name="after_state_status" value="{$row['after_state_status']}">
									<input type="hidden" name="og_goods_pay_price" value="{$row['og_goods_pay_price']}">
									<div align="center"><p style="color: red">{if $row['order_type']=='1'}积分兑换订单{/if}</p></div>
									<ul class="order_list">
									<li>   
										<div class="form-group">
											<label for="c-goods_name" class="control-label col-xs-12 col-sm-2">订单编号:</label>
											<div class="col-xs-12 col-sm-8" style="padding-top:7px;">
												<span>{$row['order_no']}</span>
											</div>
										</div> 
									</li>
									<li>   
										<div class="form-group">
											<label for="c-goods_name" class="control-label col-xs-12 col-sm-2">售后单号:</label>
											<div class="col-xs-12 col-sm-8" style="padding-top:7px;">
												<span>{$row['audit_no']}</span>
											</div>
										</div> 
									</li>
										<li>
											<div class="form-group">
												<label for="c-goods_name" class="control-label col-xs-12 col-sm-2">下单时间:</label>
												<div class="col-xs-12 col-sm-8" style="padding-top:7px;">
													<span>{$row['create_time']}</span>
												</div>
											</div>
										</li>
										<li>
											<div class="form-group">
												<label for="c-goods_name" class="control-label col-xs-12 col-sm-2">订单状态:</label>
												<div class="col-xs-12 col-sm-8" style="padding-top:7px;">
													<span>{$row['order_status_val']}</span>
												</div>
											</div>
										</li>


								
									<!--<li>
										<div class="form-group">
											<label for="c-goods_name" class="control-label col-xs-12 col-sm-2">物流单号:</label>
											<div class="col-xs-12 col-sm-8" style="padding-top:7px;">
												<span>{$row['post_no']}</span>
											</div>
										</div>
									</li>
										 
									<li>
										<div class="form-group">
											<label for="c-goods_name" class="control-label col-xs-12 col-sm-2">物流状态:</label>
											<div class="col-xs-12 col-sm-8" style="padding-top:7px;">
												<span>{$row['post_status_val']}</span>
											</div>
										</div>
									</li>-->

									{volist name="row.goods_info" id="vo"}
										<div class="list_order">
											<li>
												<div class="form-group">
													<label for="c-goods_name" class="control-label col-xs-12 col-sm-2">商品单价:</label>
													<div class="col-xs-12 col-sm-8" style="padding-top:7px;">
														<span>{$vo['og_goods_price']}元</span>
													</div>
												</div>
											</li>
											<li>

												<div class="form-group">
													<label for="c-goods_name" class="control-label col-xs-12 col-sm-2">订购商品:</label>
													<div class="col-xs-12 col-sm-8" style="padding-top:7px;">

														<span>{$vo.og_goods_name}</span><br>

													</div>
												</div>
											</li>
											<li>
												<div class="form-group">
													<label for="c-goods_name" class="control-label col-xs-12 col-sm-2">商品编号:</label>
													<div class="col-xs-12 col-sm-8" style="padding-top:7px;">
														<span>{$vo['goods_numbers']} </span>
													</div>
												</div>
											</li>
											<li>
												<div class="form-group">
													<label for="c-goods_name" class="control-label col-xs-12 col-sm-2">商品数量:</label>
													<div class="col-xs-12 col-sm-8" style="padding-top:7px;">
														<span>{$vo['og_goods_num']} </span>
													</div>
												</div>
											</li>
										</div>

										{/volist}

										<li>
											<div class="form-group">
												<label for="c-goods_name" class="control-label col-xs-12 col-sm-2">支付金额:</label>
												<div class="col-xs-12 col-sm-8" style="padding-top:7px;">
													<span>{$row['og_goods_pay_price']}元</span>
												</div>
											</div>	
										</li>				 
									 
																			 
										<li>
										 <div class="form-group">
                                        <label for="c-goods_name" class="control-label col-xs-12 col-sm-2">申请时间:</label>
                                        <div class="col-xs-12 col-sm-8" style="padding-top:7px;">
                                            <span> {:date('Y-m-d H:i',$row['apply_time'])}
											</span>
                                        </div>
										</div>
										
										</li>
										<li>
										 <div class="form-group">
                                        <label for="c-goods_name" class="control-label col-xs-12 col-sm-2">退货原因:</label>
                                        <div class="col-xs-12 col-sm-8" style="padding-top:7px;">
                                            <span> 
											   {$row['audit_reason']} 
											</span>
                                        </div>
										</div>
										</li>	
										<li>
										 <div class="form-group">
                                        <label for="c-goods_name" class="control-label col-xs-12 col-sm-2">用户备注:</label>
                                        <div class="col-xs-12 col-sm-8" style="padding-top:7px;">
                                            <span> 
											  {$row['audit_issue']}
											</span>
                                        </div>
										</div>
										
										</li>
									 
									</ul>
									{if condition="$row['post_status'] egt 4"}
									   <div class="form-group">
											<label for="c-goods_name" class="control-label col-xs-12 col-sm-2"> 退款金额:</label>
											<div class="col-xs-3 col-sm-5" style="padding-top:7px;">
											<input class="col-xs-3 col-sm-5" style="padding-top:7px;" id="order_refund_price"  name="order_refund_price" type="text" value="{$row['order_refund_price']}">
											</div>
										</div>
									{/if}
								 <div class="form-group">
                                        <label for="status" class="control-label col-xs-12 col-sm-2">客服审核状态:</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <label ><input id="row[status]-2" {if $row['status']=='2'}checked="checked"{/if} name="status" type="radio" value="2" onclick =" typeChange();" checked="checked"{/if} > 审核通过</label> 
                                            <label  ><input id="row[status]-3" {if $row['status']=='3'}checked="checked"{/if} name="status" type="radio" value="3" onclick =" typeChange();"> 审核不通过</label>
                                            
                                        </div>
                                    </div>
									<div class="form-group">
                                        <label for="c-goods_numbers" class="control-label col-xs-12 col-sm-2">客服审核备注:</label>
                                        <div class="col-xs-12 col-sm-8">
											<textarea cols="100" rows="5" id="or_goods_note" name="or_goods_note" data-rule="">{$row['or_goods_note']} </textarea>
                                        </div>
                                    </div>	
									{if condition="($row['after_state_status'] neq '2')"}									
									<div class="form-group">
                                        <label for="financial_status" class="control-label col-xs-12 col-sm-2">财务审核状态:</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <label ><input id="row[financial_status]-2" {if $row['financial_status']=='2'}checked="checked"{/if} name="financial_status" type="radio" value="2" onclick =" typeChange();"> 审核通过</label> 
                                            <label  ><input id="row[financial_status]-3" {if $row['financial_status']=='3'}checked="checked"{/if} name="financial_status" type="radio" value="3" onclick =" typeChange();"> 审核不通过</label>
                                            
                                        </div>
                                    </div>
									
									<div class="form-group">
										<label for="status" class="control-label col-xs-12 col-sm-2">确认退款:</label>
										<div class="col-xs-12 col-sm-8"> 
											<label >
											<input id="row[order_status]-2" {if $row['refund_status']=='1'}checked="checked"{/if} name="refund_status" type="radio" value="1"> 确认退款 </label><label >
											<input id="row[order_status]-2" {if $row['refund_status']=='0'}checked="checked"{/if} name="refund_status" type="radio" value="0"> 暂未退款 </label>
										</div>
									</div>
									
									   <div class="form-group">
											<label for="c-goods_numbers" class="control-label col-xs-12 col-sm-2"> 财务审核备注:</label>
											<div class="col-xs-12 col-sm-8">
												<textarea cols="100" rows="5" id="or_financial_note" name="or_financial_note" data-rule="">{$row['or_financial_note']} </textarea>
											</div>
										</div>
										 {/if}
										{if condition="$row['after_state_status'] neq '3' "}	
										<div class="form-group">
											<label for="c-goods_numbers" class="control-label col-xs-12 col-sm-2"> 回邮地址:</label>
											<div class="col-xs-12 col-sm-8">
												<!--<textarea cols="100" rows="5" id="back_address" name="back_address" data-rule="">{$row['back_address']} </textarea>-->
												售后地址：<input type="text" id="supplier_addr" name="supplier_addr" style=" width: 80%;" value="{if condition="$row['back_address']['supplier_addr']"} {$row['back_address']['supplier_addr']} {/if}"><br>
												姓名：<input type="text" id="supplier_name" name="supplier_name" style=" width: 80%;" value="{if condition="$row['back_address']['supplier_name']"} {$row['back_address']['supplier_name']} {/if}"><br>
												电话：<input type="text" id="supplier_phone" name="supplier_phone" style=" width: 80%;" value="{if condition="$row['back_address']['supplier_phone']"} {$row['back_address']['supplier_phone']} {/if}">
											</div>
										</div>
									{/if}
 									
									<!--<div class="form-group">
                                       <label for="supplier_status" class="control-label col-xs-12 col-sm-2">供应商审核状态:</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <label ><input id="row[supplier_status]-2" {if $row['supplier_status']=='2'}checked="checked"{/if} name="supplier_status" type="radio" value="2" onclick =" typeChange();"> 审核通过</label> 
                                            <label  ><input id="row[supplier_status]-3" {if $row['supplier_status']=='3'}checked="checked"{/if} name="supplier_status" type="radio" value="3" onclick =" typeChange();"> 审核不通过</label>
                                        </div> 
                                        </div>-->
										{if condition="$row['after_state_status'] neq '3' "}	
									<div class="form-group">
										<label for="status" class="control-label col-xs-12 col-sm-2">退货状态:</label>
										<div class="col-xs-12 col-sm-8"> 
											<label >
												<input id="row[supplier_post_status]-2" {if $row['supplier_post_status']=='1'}checked="checked"{/if} name="supplier_post_status" type="radio" value="1"> 确认退货 </label>
												<label >
												<input id="row[supplier_post_status]-2" {if $row['supplier_post_status']=='0'}checked="checked"{/if} name="supplier_post_status" type="radio" value="0"> 暂未退货 </label>
										</div>
									</div>
								{/if}
								<!-- <div class="form-group">
										<label for="c-goods_numbers" class="control-label col-xs-12 col-sm-2"> 供应商审核备注:</label>
										<div class="col-xs-12 col-sm-8">
											<textarea cols="100" rows="5" id="or_supplier_note" name="or_supplier_note" data-rule="">{$row['or_supplier_note']} </textarea>
										</div>
									</div>-->
									{if condition="$row['after_state_status'] eq '2'"}
									<div class="form-group">
                                        <label for="c-post_type" class="control-label col-xs-12 col-sm-2">供应商换货发货方式:</label>
                                        <div class="col-xs-12 col-sm-8">
                                          <!--   <input id="c-post_type" class="form-control" name="post_type" data-rule="required" type="text" value="" placeholder=""> -->
											 <select  id="brandid" data-rule="" class="form-control" name="supplier_post_type">
                                                {if condition="$express.field"}
                                                {volist name="express.field" id="v"}
                                                <option value="{$v}">{$express['value'][$key]}</option>
                                                {/volist}
                                                {else/}
                                                <option value="">暂无数据</option>
                                                {/if}
                                            </select>
                                        </div>
                                    </div>
									<div class="form-group">
										<label for="c-goods_numbers" class="control-label col-xs-12 col-sm-2"> 供应商换货物流单号:</label>
										<div class="col-xs-12 col-sm-8">
											<input class="form-control" style="width: 40%"  id="supplier_post_no"  name="supplier_post_no" type="text" value="{$row['supplier_post_no']}">
										</div>
									</div>
									
									<div class="form-group">
										<label for="status" class="control-label col-xs-12 col-sm-2">售后再次发货状态:</label>
										<div class="col-xs-12 col-sm-8">
											<label >
												<input  id="row[post_agin_status]-2" {if $row['post_agin_status']=='2'}checked="checked"  {/if} name="post_agin_status" type="radio" value="2"> 再次发货 </label>
												<label >
												<input  id="row[post_agin_status]-2" {if $row['post_agin_status']=='1'}checked="checked"  {/if} name="post_agin_status" type="radio" value="1"> 未发货 </label>
										</div>
									</div>
 									
									 
<!-- 									<div class="form-group">
										<label for="c-goods_numbers" class="control-label col-xs-12 col-sm-2"> 供应商换货物流时间:</label>
										<div class="col-xs-12 col-sm-8">
											<input type="text" class="form-control"   value="{$row['supplier_post_time']}" ></div>
										</div>
									</div> -->
									 
									{/if}
									{if $row['order_type']=='1'}
										<div class="form-group layer-footer">
											<label class="control-label col-xs-12 col-sm-2"></label>
											<div class="col-xs-12 col-sm-8">
												<button type="submit" class="btn btn-success btn-embossed  " >确定</button>
												<button type="reset" class="btn btn-default btn-embossed">重置</button>
											</div>
										</div>
									{else/}
										<div class="form-group layer-footer">
	                                        <label class="control-label col-xs-12 col-sm-2"></label>
	                                        <div class="col-xs-12 col-sm-8">
	                                            <button type="submit" class="btn btn-success btn-embossed  " >确定</button>
	                                            <button type="reset" class="btn btn-default btn-embossed">重置</button>
	                                        </div>
	                                    </div>
									{/if}

									
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            var index_url="{:url('admin/order/index',['order_status'=>$order_status])}";
            var add_url="{:url('admin/goods/add')}";
            var edit_url="{:url('admin/order/post')}";
            var del_url="{:url('admin/order/close')}";
            var multi_url="{:url('admin/goods/multi')}";
        </script>
        {include file="public/javascript" jsname="backend/order/index" controllername="order"  actionname="add"/}
    </body>
	<script type="text/javascript">
	window.onload = typeChange();
	//select的onchange调用函数
	function typeChange(){
	var countrySelect = document.getElementsByName('status');//获取select的dom
	var remark = document.getElementById('or_goods_note');//备注
		if(countrySelect[1].checked == true){	  
		  remark.setAttribute('data-rule','required');						  
		}else{
		  remark.setAttribute('data-rule','checked');
		} 

	}
</script>  
</html>