<script type="text/javascript">
    // var debug="{$app_debug}";
    var debug="true";
    var version="{$Think.const.VERSION}";
    var root="__STATIC__";
    var jsname="[jsname]";
    var controllername="[controllername]"
    var actionname="[actionname]";
</script>        
<script src="__STATIC__/assets/js/config.js?v={$Think.const.VERSION}"></script>
<script src="__STATIC__/assets/js/require.min.js?v={$Think.const.VERSION}" data-main="__STATIC__/assets/js/require-backend.min.js?v={$Think.const.VERSION}"></script>
<script type="text/javascript">
	// 更改layer标题
	var oIframe = $(window.parent.document).find('iframe');
    var oTitle = oIframe.parents('.layui-layer-content').siblings('.layui-layer-title');
    oTitle.text(window.document.title).css('text-align', 'center'); 
</script>